<template>
  <input type="text" v-model="newTitle" />
  <button @click="onClick">追加</button>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: 'MyTodoListForm',
  emits: ['add'],
  setup(_, context) {
    const newTitle = ref('')
    const onClick = () => {
      if (newTitle.value.length > 0) {
        context.emit('add', newTitle.value)
        newTitle.value = ''
      }
    }
    return { newTitle, onClick }
  }
})
</script>
