<template>
  <MyTodoListForm
    @add="addTodo"
  />
  <ul class="list-item">
    <MyTodoListItem
      v-for="todo in todos"
      :item="todo"
      :key="todo.id"
      @change-status="changeStatus"
    />
  </ul>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import MyTodoListForm from './MyTodoListForm.vue'
import MyTodoListItem from './MyTodoListItem.vue'
import useTodoActions from '@/composables/useTodoActions';

export default defineComponent({
  name: 'MyTodoList',
  components: {
    MyTodoListForm,
    MyTodoListItem
  },
  setup() {
    const { fetchTodos, addTodo, changeStatus } = useTodoActions()
    const todos = fetchTodos()

    return {
      todos,
      addTodo,
      changeStatus
    }
  }
})
</script>

<style scoped>
.list-item {
  list-style: none;
}
</style>
