<template>
  <li class="item">
    <span class="button">
      <input type="checkbox" v-model="done" @change="toggle" />
    </span>
    <span :class="{ title: true, done: done }">
      {{ item.title }}
    </span>
  </li>
</template>

<script lang="ts">
import { Todo, TodoStatus } from "@/typings/todo";
import { defineComponent, PropType, ref } from "vue";

export default defineComponent({
  name: 'MyTodoListItem',
  props: {
    item: {
      type: Object as PropType<Todo>,
      required: true
    }
  },
  emits: ['changeStatus'],
  setup(props, context) {
    const done = ref(
      props.item.status == TodoStatus.DONE
    )
    const toggle = () => {
      const newStatus = (
        done.value
          ? TodoStatus.DONE
          : TodoStatus.NOT_YET
      )
      context.emit('changeStatus', newStatus)
    }
    return { done, toggle }
  }
})
</script>

<style scoped>
  .done {
    text-decoration: line-through;
  }
</style>
