<template>
  <div id="app">
    <MyTodoList />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import MyTodoList from './components/MyTodoList.vue';

export default defineComponent({
  name: 'App',
  components: {
    MyTodoList
  }
})
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
